{% extends 'layouts/base-caosp.html' %}

{% block title %} Profile {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<main class="content">
    <div class="container-fluid p-0">

        <h1 class="h3 mb-3">Tableau de bord</h1>

        <div class="row">
            <div class="col-md-4 col-xl-3">
                <div class="card mb-3">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Profile</h5>
                    </div>
                    <div class="card-body text-left mx-1">
                        <h4 class="card-title mb-2">
                            {{ request.user.profile.username }}
                        </h4>
                        <div class="text-muted mb-2">
                            {{ request.user.name }}	
                        </div>
                        <div class="text-muted mb-2">
                            {{ request.user.profile.role }}	
                        </div>
                        <div class="text-muted mb-2">
                            {{ request.user.email }}	
                        </div>

                       
                    </div>
                    <hr class="my-0" />
                    
                </div>
            </div>

            <div class="col-md-8 col-xl-9">
                <div class="card p-12">

                    <div class="mx-4 mt-4 flex-container">
                       <span class="h1">{{etablissement.name}}</span>
                       <span class="h3 float-right"> Code : {{etablissement.code}}</span>
                    </div>
                    <div class="card-body  p-12">
                       <div class="m-sm-4">
                          <div class="mb-2">
                             <div class="flex-grow-1">
                                <strong class="float-right text-navy">IEF : {{etablissement.ief}}</strong>
                                <strong>Académie : </strong>IA de Ziguinchor<br />
                                <strong class="float-right text-navy">Téléphone : {{etablissement.phone}}</strong>
                                <strong>Email : </strong> {{etablissement.email}}<br />
                                <strong class="float-right text-navy">Adresse : {{etablissement.address}}</strong>
                                <strong class="">Type : {{etablissement.type_etablissement}} </strong><br />
                                <strong>Chef d'établissement : {{etablissement.nomce}}</strong><br />
                             </div>
                          </div>
                       </div>
                       <div class="m-sm-4">
                          <div class="mb-2">
                             <div class="flex-grow-1">
                                <strong> : </strong> {{etablissement.quote_set.count}}<br />
                             </div>
                          </div>
                       </div>
                    </div>
                    <div class="mx-10 m-4">
                       <a href="{% url 'etablissement:index'%} " class="btn btn-outline-primary">Retour</a>
                       {% if request.user.profile.role == 'Etablissement' %}
                           <a href=" {% url 'etablissement:edit' etablissement.slug %} " class="btn btn-info">Editer</a>
                           <a href=" {% url 'etablissement:edit' etablissement.slug %} " class="btn btn-success">Nouveau quotepart</a>
                           {% if request.user.is_staff %}                       
                              <span class="float-right">
                                 <button id="btn-etablissement-sup" type="button" data-toggle="modal" data-target="#supprimer"
                                    class="btn btn-outline-danger text-blue-600" title="Supprimer" data-id="{{ etablissement.slug }}"
                                    data-etablissement="{{etablissement.name}}">
                                    <i class="align-middle mr-2" data-feather="alert-triangle"></i>
                                    Delete
                                 </button>
                              </span>
                          {% endif %}
                       {% endif %}
                    </div>
                 </div>
            </div>
        </div>

    </div>
</main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}