{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="{% static 'assets/img/icons/icon-48x48.png' %}"
    />

    <title>CAOSP | {% block title %}Gestion des quote-parts{% endblock %}</title>

    <link
      href="{% static 'assets/css/app.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <title>CAOSP de Ziguinchor</title>
  </head>

  <body>
    <div class="container">
      <nav class="h2-1"></nav>
      <main class="admin-wrapper">
        <section class="empty-dashboard">
          <h3>République du Sénégal</h3>
          <h3>Ministère de l'Education nationale</h3>
          <br />

          <img
            src="{% static '/assets/img/logo/MEN.png' %}"
            alt=""
            class="empty-logo"
          />
          <h3>Académie de Ziguinchor</h3>
          <h4>Centre Académique d'Orientation Scolaire et Professionnelle</h4>
          <p>Rue du Commerce, Escale - Ziguinchor</p>
          <p>33 991 11 59</p>
          <p>caospz@gmail.com</p>
          <br />
          <br />
          <br />

          <div class="auth-options">
            {% if request.user.is_authenticated %}
            <a
            href="{% url 'core:index' %}"
            class="button-link btn btn-primary"
            >Tableau de bord</a>
            <a
            href="{% url 'account:logout' %}"
            class="button-link btn btn-primary"
            >Se déconnecter</a>
            {% else %}
            <a
            href="{% url 'account:login' %}"
            class="button-link btn btn-primary"
            >Se connecter</a>
            {% endif %}
        </div>
        </section>
      </main>
    </div>
  </body>
</html>
