{% extends 'layouts/base-caosp.html' %}
{% block title %}
  Quote-parts
{% endblock %}
{% load crispy_forms_tags %}
{% load static %}

<!-- Specific Page CSS goes HERE -->
{% block stylesheets %}
  <style>
    @media print {
      .no-print {
        display: none !important;
      }
    }
    @media not print {
      .print {
        display: block !important;
        width: auto;
      }
    }
  </style>
{% endblock %}

{% block content %}
  <main class="content">
    <div class="container-fluid p-0">
      <div class="row gutters">
        <div class="no-print col-md-2 col-sm-12">
          <h3><strong>Affichage</strong></h3>
          <form action="" method="get">
            <div class="row">
              <div class="col">
                <label for="">{{ filter_form.label }}</label>
                <span class="form-control-color">{{ filter.form|crispy }}</span>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label for="">Nbre de lignes</label>
                <select class="form-select" name="per_page">
                  <option class="form-control" value="10">10</option>
                  <option class="form-control" value="15">15</option>
                  <option class="form-control" value="20">20</option>
                  <option class="form-control" value="25">25</option>
                  <option class="form-control" value="50">50</option>
                </select>
              </div>
            </div>
            <button class="list-group-item p-1 active mx-auto mt-2" type="submit">Afficher</button>
            <div class="text-center mt-4">
              <a class="btn btn-md btn-info" href="{{ request.path }}">Réinitialiser</a>
            </div>
          </form>
          <h3 class="mt-4"><strong>Impression</strong></h3>
          <div class="text-center mt-5 bg-info text-white">
            <form action="view-quote/" method="get" class="bg-success">
              <div class="row">
                <div class="col">
                  <label for="">{{ filter_form.label }}</label>
                  <span class="form-control-color">{{ filter.form|crispy }}</span>
                  
                  <button type="submit" class="btn btn-warning py-2 mb-2"><i class="icon-download"></i> impression</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-10 gutters">
          <div class="card">
            <div class="card-header">
              <h3><strong>Les Quote-parts</strong></h3>
            </div>

            <div class="m-sm-4">
              <table class="table table-sm">
                <thead>
                  <tr>
                    <th>Année</th>
                    <th>Etablissement</th>
                    <th>Effectif</th>
                    <th>Attendu</th>
                    <th>Versé</th>
                    <th>Statut</th>
                  </tr>
                </thead>
                <tbody>
                  {% if quotes %}
                    {% for quote in quotes %}
                      <tr>
                        <td>{{ quote.annee_scolaire }}</td>
                        <td>{{ quote.etablissement.name }}
                          ({{ quote.etablissement.type_etablissement }})</td>
                        <td>{{ quote.effectif }}</td>
                        <td>{{ quote.get_montant }}</td>
                        <td>{{ quote.versement }}</td>
                        <td class="{% if quote.get_montant != quote.versement %}{% endif %}">
                          {% if quote.is_ok == True %}
                            <span class="text-white bg-success px-2 rounded-radius-25">A jour</span>
                          {% else %}
                            <span class="text-white bg-danger px-3 rounded-radius-25"><i class="mdi mdi-arrow-bottom-right"></i> Oh !</span>
                          {% endif %}
                        </td>
                      </tr>
                    {% endfor %}
                    <tr>
                      <td class="h4 text-right" colspan="4">Montant total : </td>
                      <td class="h3 text-left" colspan="2">{{ montantTotal }} FCFA</td>
                    </tr>
                    <div id="pagination_container">
                      <span class="page-links">
                        <!--    {% if quotes.has_previous %}
                                      <button type="button" onclick="navigateUrl('{{ request.get_full_path }}' , '{{ quotes.previous_page_number }}')">Previous</button>
                                  {% endif %}    -->
                        <span class="page-current">Page {{ quotes.number }} sur {{ quotes.paginator.num_pages }}</span>
                        <!--    {% if quotes.has_next %}
                                      <button type="button" onclick="navigateUrl('{{ request.get_full_path }}', '{{ quotes.next_page_number}}')">Next</button>
                                  {% endif %}    -->
                      </span>
                    </div>
                    {% if quotes.has_other_pages %}
                      <div class="btn-group float-right mb-3" role="group" aria-label="Item pagination">
                        {% if quotes.has_previous %}
                          <button type="button" class="btn btn-outline-primary" onclick="navigateUrl('{{ request.get_full_path }}' , '{{ quotes.previous_page_number }}')">Précédent</button>
                        {% endif %} 
                        {% for page_number in quotes.paginator.page_range %}
                          {% if quotes.number == page_number %}
                            <span class="btn btn-outline-primary active">{{ page_number }}</span>
                          {% else %}
                            <button onclick="navigateUrl('{{ request.get_full_path }}' , '{{ page_number }}')" class="btn btn-outline-primary">{{ page_number }}</button>
                          {% endif %}
                        {% endfor %}
                        {% if quotes.has_next %}
                          <button type="button" class="btn btn-outline-primary" onclick="navigateUrl('{{ request.get_full_path }}' , '{{ quotes.next_page_number }}')">Suivant</button>
                        {% endif %}
                      </div>
                    {% endif %}
                  {% else %}
                    <tr>
                      <td class="h3 text-center py-4" colspan="6">
                        <strong>Pas de quote-parts à afficher.</strong>
                      </td>
                    </tr>
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}

<!-- Specific Page JS goes HERE -->
{% block javascripts %}
  <script type="text/javascript">
    function arrangePageQuery(urlPath, pageToNavigate) {
      if (window.location.href.includes('?')) {
        // there's filter queries in url:
        window.location.href = urlPath + '&page=' + pageToNavigate
      } else {
        // there's no filter queries:
        window.location.href = urlPath + '?page=' + pageToNavigate
      }
    }
    
    function imprimerQuote(annee_scolaire) {
      if (window.location.href.includes('?annee_scolaire=')) {
        window.location.href = '/quotes/view-quote/' + '?annee=' + annee_scolaire
        return
      }
    }
    
    function navigateUrl(fullPath, pageToNavigate) {
      if (window.location.href.includes('?page=')) {
        // to avoid appending when there is no filter queries, remove page query:
        let baseFullPath = window.location.href.split('?page=')[0]
        window.location.href = baseFullPath + '?page=' + pageToNavigate
        return
      }
    
      if (window.location.href.includes('&page=')) {
        // to avoid appending when there is filter queries, remove page query
        let baseFullPath = window.location.href.split('&page=')[0]
        arrangePageQuery(baseFullPath, pageToNavigate)
      } else {
        arrangePageQuery(fullPath, pageToNavigate)
      }
    }
  </script>
{% endblock %}
