{% extends 'layouts/base-caosp.html' %} 
{% block title %} 
  Liste des collèges
{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} 
{% block content %} 
{% load static %}

<main class="content">
  <div class="container-fluid p-0">
    <div class="row mb-1 mb-xl-3">
      <div class="col-auto d-none d-sm-block">
        {% if request.user.is_staff %}
        <span class="float right">
          <a class="btn btn-outline-info" href="{% url 'college:add' %}">Ajouter</a>
        </span>
        {% endif %}

      </div>

       
    </div>

    <div class="card">
      <div class="card-body">
        <div class="m-sm-4">
          <table class="table table-sm">
            <thead>
              <tr>
                <th>Etablissement</th>
                <th>Code</th>
                <th>IEF</th>
                <th>Contacts</th>
                <th>Situation</th>
                <th>Conseiller</th>
                <th class="text-right">Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for college in colleges %}
              <tr>
                <td>{{ college.etablissement }}</td>
                <td>{{ college.code }}</td>
                <td>{{ college.ief.name }}</td>
                <td class="text-left">
                  {% if college.fixe is not null %} {{ college.fixe}} {% else %}
                  {{college.mobile}} {% endif %}
                </td>
                <td class="text-left">{{ college.quote.montant }}</td>
                <td class="text-left">{{ college.conseiller.name }}</td>
                <td class="text-right">
                  <a
                    href=" {% url 'college:college' college.slug %} "
                    class="btn btn-warning"
                    >Consulter</a
                  >
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
