{% extends "layouts/base-caosp.html" %}

{% block title %} Modifier les données de {{ college.etablissement }} {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<main class="content">
    <div class="container-fluid p-0">

        <div class="row mb-2 mb-xl-3">
            <div class="col-auto d-none d-sm-block">
                <h3><strong>{{ college.etablissement }}</strong></h3>
            </div>
            
            <div class="col-auto ml-auto text-right mt-n1">
                
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-3 col-xl-2">

                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Paramètres</h5>
                    </div>

                    <div class="list-group list-group-flush" role="tablist">
                        <a class="list-group-item list-group-item-action active" data-toggle="list" href="#mycollege" role="tab">
                        Collège
                        </a>
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#quotepart" role="tab">
                        Quote-part
                        </a>
                        
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#add_quotepart" role="tab">
                        Ajouter Quote
                        </a>
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#les_quoteparts" role="tab">
                            Les quotes
                        </a>
                        
                        <span class="list-group-item list-group-item" disabled>
                        Envoyer Mail
                        </span>
                        <span class="list-group-item list-group-item" disabled>
                        Envoyer SMS
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-9 col-xl-10">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="mycollege" role="tabpanel">

                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title mb-0">code : <span class="h4 text-center font-bold">({{ college.code}})</span> </h5>
                            </div>
                            <div class="card-body">
                                <form method="POST" action=".">
                                    {% csrf_token %}
                                    <input type="hidden" class="form-control" name="modification" value="modifier_college">
                                    <div class="row">
                                        <div class="mb-3 col-md-6">
                                            <label class="form-label" for="inputFirstName">Etablissement</label>
                                            <input type="text" class="form-control" name="etablissement" value="{{ college.etablissement}}">
                                        </div>
                                        <div class="mb-3 col-md-6">
                                            <label class="form-label" for="inputLastName">Email de l'Etablissement</label>
                                            <input type="text" class="form-control" name="email" value="{{ college.email}}">
                                        </div>
                                        
                                    </div>
                                    <div class="row">
                                        <div class="mb-3 col-md-4">
                                            <label class="form-label" for="inputFirstName">Téléphone</label>
                                            <input type="text" class="form-control" name="fixe" value="{{ college.fixe}}">
                                        </div>
                                        <div class="mb-3 col-md-4">
                                            <label class="form-label" for="inputLastName">Statut</label>
                                            <select class="select-control form-control-lg w-100" name="statut">
                                                <option value="">Choisir du statut de l'Etabmissement</option>
                                                <option {% if college.statut == 'Public' %} selected {% endif %} value="Public">Public</option>
                                                <option {% if college.statut == 'Privé Laïc' %} selected {% endif %} value="Privé Laïc">Privé Laïc</option>
                                                <option {% if college.statut == 'Privé Catholique' %} selected {% endif %} value="Privé Catholique">Privé Catholique</option>
                                                <option {% if college.statut == 'Autre' %} selected {% endif %} value="Autre">Autre</option>
                                            </select>
                                        </div>
                                        <div class="mb-3 col-md-4">
                                            <label class="form-label" for="inputLastName">IEF</label>
                                            <select class="select-control form-control-lg w-100" name="ief" id="">
                                                <option value="">Choisir l'IEF</option>
                                                {% for ibou in iefs%}
                                                <option {% if ibou.id == college.ief.id %} selected {% endif %} value="{{ibou.id}}">{{ibou.name}} {{ibou.responsable.name}}</option>
                                                {% endfor %}
                                            </select> 
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="mb-3 col-md-12">
                                            <label class="form-label" for="ce">Adresse du Collège</label>
                                            <input type="text" class="form-control" name="adresse" value="{{college.adresse}}">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="mb-3 col-md-6">
                                            <label class="form-label" for="ce">Prénom et Nom du CE</label>
                                            <input type="text" class="form-control" name="nomce" value="{{college.nomce}}">
                                        </div>
                                        <div class="mb-3 col-md-6">
                                            <label class="form-label" for="ce">Contact du CE</label>
                                            <input type="text" class="form-control" name="mobile" value="{{college.mobile}}">
                                        </div>
                                    
                                    </div>
                                    <div class="row">
                                        <div class="mb-3 col-md-6">
                                            <label class="form-label" for="ce">Ajouté par</label>
                                            <input type="text" class="form-control" name="added_by" value="{{ college.added_by.name}}" disabled>
                                        </div>
                                        <div class="mb-3 col-md-6">
                                            <label class="form-label" for="ce">Conseiller responsable</label>
                                            <input type="text" class="form-control" name="conseiller" value="{{ college.conseiller.name}}" disabled>
                                        </div>
                                    
                                    </div>
                                    <button type="submit" class="btn btn-info">Enregistrer les changements</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="quotepart" role="tabpanel">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-header">
                                    <h5 class="card-title mb-0">Collège : <strong>{{ college.etablissement }}</strong> - code : <span class="h4 text-center font-bold">({{ college.code}})</span> </h5>
                                </div>                                
                                <form method="POST" action=".">
                                    {% csrf_token %} 
                                    <input type="hidden" class="form-control" name="modification" value="modifier_quote">
                                    <div class="row">
                                        <div class="mb-3 col-md-4">
                                            <label class="form-label" for="inputLastName">Année scolaire</label>
                                            <select class="select-control form-control-lg w-100" name="annee_scolaire" id="">
                                                <option value="">Choisir</option>
                                                <option {% if quote.annee_scolaire == '2023-2024' %} selected {% endif %} value="2023-2024">2023-2024</option>
                                                <option {% if quote.annee_scolaire == '2024-2025' %} selected {% endif %} value="2024-2025">2024-2025</option>
                                                <option {% if quote.annee_scolaire == '2025-2026' %} selected {% endif %} value="2025-2026">2025-2026</option>
                                                <option {% if quote.annee_scolaire == '2026-2027' %} selected {% endif %} value="2026-2027">2026-2027</option>
                                                <option {% if quote.annee_scolaire == '2027-2028' %} selected {% endif %} value="2027-2028">2027-2028</option>
                                                <option {% if quote.annee_scolaire == '2028-2029' %} selected {% endif %} value="2028-2029">2028-2029</option>
                                                <option {% if quote.annee_scolaire == '2029-2030' %} selected {% endif %} value="2029-2030">2029-2030</option>
                                            </select> 
                                        </div>
                                        <div class="mb-3 col-md-2">
                                            <label class="form-label" for="effectif">Effectif</label>
                                            <input type="text" class="form-control" name="effectif" value="{{quote.effectif}}">
                                        </div>
                                        <div class="mb-3 col-md-3">
                                            <label class="form-label" for="ce">Montant du</label>
                                            <input disabled type="text" class="form-control" name="montant_du" value="{{quote.get_montant}}">
                                        </div>
                                        <div class="mb-3 col-md-3">
                                            <label class="form-label" for="ce">Versé</label>
                                            <input type="text" class="form-control" name="versement" value="{{quote.versement}}">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="mb-3 col-md-4">
                                            <label class="form-label" for="ce">Payé</label>
                                            <div>
                                                <label class="form-check-inline">
                                                    <input {% if quote.paid == True %} checked {% endif %} class="form-check-input" type="radio" value="True" name="paid">
                                                    <span class="form-check-label">
                                                        Oui
                                                    </span>
                                                </label>
                                                <label class="form-check-inline">
                                                    <input {% if quote.paid == False %} checked {% endif %} class="form-check-input" type="radio" value="False" name="paid">
                                                    <span class="form-check-label">
                                                        Non
                                                    </span>
                                                </label>
                                            </div>
                                            
                                        </div>
                                        
                                        <div  class="mb-3 col-md-8">
                                            <label class="form-label" for="ce">Est à jour</label>
                                            <div>

                                                <label class="form-check-inline">
                                                    <input {% if quote.is_ok == True %} checked {% endif %} class="form-check-input" type="radio" value="True" name="is_ok">
                                                    <span class="form-check-label">
                                                        Oui
                                                    </span>
                                                </label>
                                                <label class="form-check-inline">
                                                    <input {% if quote.is_ok == False %} checked {% endif %} class="form-check-input" type="radio" value="False" name="is_ok">
                                                    <span class="form-check-label">
                                                        Non
                                                    </span>
                                                </label>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="mb-3 col-md-6">
                                            <label class="form-label" for="ce">Ajouté par</label>
                                            <input type="text" class="form-control" name="added_by" value="{{ college.added_by.name}}" disabled>
                                        </div>
                                        <div class="mb-3 col-md-6">
                                            <label class="form-label" for="ce">Conseiller responsable</label>
                                            <input type="text" class="form-control" name="conseiller" value="{{ college.conseiller.name}}" disabled>
                                        </div>
                                    
                                    </div>
                                    <button type="submit" class="btn btn-info">Enregistrer les changements</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="add_quotepart" role="tabpanel">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-header">
                                    <h5 class="card-title mb-0">Collège : <strong>{{ college.etablissement }}</strong> - code : <span class="h4 text-center font-bold">({{ college.code}})</span> </h5>
                                </div>                                
                                <form method="POST" action=".">
                                    {% csrf_token %} 
                                    <input type="hidden" class="form-control" name="ajouter_quote" value="ajouter_quote">
                                    <div class="row">
                                        <div class="mb-3 col-md-4">
                                            <label class="form-label" for="inputLastName">Année scolaire</label>
                                            <select class="select-control form-control-lg w-100" name="annee_scolaire_new" id="">
                                                <option value="">Choisir</option>
                                                <option {% if quote.annee_scolaire == '2023-2024' %} selected {% endif %} value="2023-2024">2023-2024</option>
                                                <option {% if quote.annee_scolaire == '2024-2025' %} selected {% endif %} value="2024-2025">2024-2025</option>
                                                <option {% if quote.annee_scolaire == '2025-2026' %} selected {% endif %} value="2025-2026">2025-2026</option>
                                                <option {% if quote.annee_scolaire == '2026-2027' %} selected {% endif %} value="2026-2027">2026-2027</option>
                                                <option {% if quote.annee_scolaire == '2027-2028' %} selected {% endif %} value="2027-2028">2027-2028</option>
                                                <option {% if quote.annee_scolaire == '2028-2029' %} selected {% endif %} value="2028-2029">2028-2029</option>
                                                <option {% if quote.annee_scolaire == '2029-2030' %} selected {% endif %} value="2029-2030">2029-2030</option>
                                            </select> 
                                        </div>
                                        <div class="mb-3 col-md-2">
                                            <label class="form-label" for="effectif">Effectif</label>
                                            <input type="number" class="form-control" name="effectif_new">
                                        </div>
                                        <div class="mb-3 col-md-3">
                                            <label class="form-label" for="ce">Montant du</label>
                                            <input disabled type="text" class="form-control" name="montant_du_new">
                                        </div>
                                        <div class="mb-3 col-md-3">
                                            <label class="form-label" for="ce">Versé</label>
                                            <input type="number" class="form-control" name="versement_new">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="mb-3 col-md-3">
                                            <label class="form-label" for="ce">Payé</label>
                                            <div>
                                                <label class="form-check-inline">
                                                    <input class="form-check-input" type="radio" value="True" name="paid_new">
                                                    <span class="form-check-label">
                                                        Oui
                                                    </span>
                                                </label>
                                                <label class="form-check-inline">
                                                    <input class="form-check-input" type="radio" value="False" name="paid_new" selected>
                                                    <span class="form-check-label">
                                                        Non
                                                    </span>
                                                </label>
                                            </div>
                                            
                                        </div>
                                        
                                        <div  class="mb-3 col-md-3">
                                            <label class="form-label" for="ce">Est à jour</label>
                                            <div>

                                                <label class="form-check-inline">
                                                    <input class="form-check-input" type="radio" value="True" name="is_ok_new">
                                                    <span class="form-check-label">
                                                        Oui
                                                    </span>
                                                </label>
                                                <label class="form-check-inline">
                                                    <input class="form-check-input" type="radio" value="False" name="is_ok_new">
                                                    <span class="form-check-label">
                                                        Non
                                                    </span>
                                                </label>
                                            </div>
                                            
                                        </div>
                                        <div class="mb-3 col-md-6">
                                            <label class="form-label" for="effectif">Commentaires</label>
                                            <textarea class="form-control" name="comments_new" id="" cols="30" rows="4"></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="mb-3 col-md-6">
                                            <label class="form-label" for="ce">Ajouté par : {{ request.user.name}}</label>
                                            <!-- <label type="text" class="form-control" value="{{ request.user.name}}" disabled> -->
                                        </div>
                                        
                                    
                                    </div>
                                    <button type="submit" class="btn btn-success">Sauvegarder</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="les_quoteparts" role="tabpanel">
                        <div class="card">
                            <div class="card-body">
                                <div class="m-sm-4">
                                    <table class="table table-sm">
                                      <thead>
                                        <tr>
                                          <th>Année</th>
                                          <th>Effectif</th>
                                          <th>Versé</th>
                                          <th>is_ok</th>
                                          <th>Ajouté le</th>
                                          <th>Changé le</th>
                                          <th class="text-right">Actions</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        {% for quote in lesquotes %}
                                        <tr>
                                          <td>{{ quote.annee_scolaire }}</td>
                                          <td>{{ quote.effectif }}</td>
                                          <td>{{ quote.versement }}</td>
                                          <td class="text-left">{{ quote.is_ok }}</td>
                                          <td class="text-left">{{ quote.quote_date_time|date:"d/m/Y H:i" }}</td>
                                          <td class="text-left">{{ quote.last_updated_date|date:"d/m/Y H:i" }}</td>
                                          <td class="text-right">
                                            <a
                                              href=" {% url 'college:college' college.slug %} "
                                              class="btn btn-warning"
                                              >Consulter</a
                                            >
                                          </td>
                                        </tr>
                                        {% endfor %}
                                      </tbody>
                                    </table>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
