{% extends 'layouts/base-caosp.html' %}

{% block title %} Blank Page {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% load static %}

{% block content %}

<main class="content">
   <div class="container-fluid p-0">

       <div class="row mb-2 mb-xl-3">
           
           <div class="col-auto ml-auto text-right mt-n1">
               <nav aria-label="breadcrumb">
                   <ol class="breadcrumb bg-transparent p-0 mt-1 mb-0">
                       <li class="breadcrumb-item"><a href="#">CAOSP</a></li>
                       <li class="breadcrumb-item"><a href="#">Tableau de bord</a></li>
                       <li class="breadcrumb-item active" aria-current="page">colleges</li>
                   </ol>
               </nav>
           </div>
       </div>
       
       
       <div class="card">

               <div class="m-sm-4">
                   QUOTES
               </div>
           </div>
       
        </div>
   </div>
</main>


{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
