{% extends 'layouts/base-caosp.html' %} {% block title %} Liste des établissements {% endblock %} {% load crispy_forms_tags %}
{% block stylesheets %}{% endblock stylesheets %} {% block content %} {% load static %}

<main class="content">
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-md-3 col-xl-2">
        <div class="card">
          <div class="card-header">
            <form action="" method="get">
              <div class="row">
                <div class="col">
                  <label for="">{{ filter_form.label }}</label>
                  <span class="form-control-color">
                    {{ filter.form|crispy }}
                  </span>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label for="">Nbre de lignes</label>
                  <select class="form-control" name="per_page">
                    <option class="form-control" value="10">10</option>
                    <option class="form-control" value="15">15</option>
                    <option class="form-control" value="20">20</option>
                    <option class="form-control" value="25">25</option>
                  </select>
                </div>
              </div>
              <button
                class="list-group-item p-1 active mx-auto mt-2"
                type="submit"
              >
                Afficher
              </button>
              <div class="text-center mt-4">
                <a class="btn btn-md btn-info" href="{{ request.path }}">
                  Réinitialiser
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="col-md-9 col-xl-10">
        <div class="card">
          <div class="card-body">
            <div class="m-sm-4">
              <table class="table table-sm">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Etablissement</th>
                    <th>Code</th>
                    <th>IEF</th>
                    <th>Téléphone</th>
                    <th>Quotepart</th>
                    <th class="text-right">Actions</th>
                  </tr>
                </thead>
                <tbody id="myTable">
                  {% if etablissements %} 
                      {% for etab in etablissements %}
                          <tr>
                            <th scope="row">{{ etab.pk }}</th>
                            <td>{{etab.name}}</td>
                            <td>{{ etab.code }}</td>
                            <td>{{etab.ief}}</td>
                            <td>{{ etab.phone }}</td>
                            <td class="text-center font-bold">
                              {{ etab.quote_set.last.versement }}
                            </td>
                            <td>
                              <a
                                href="{% url 'etablissement:edit' etab.slug %} "
                                title="Detail"
                                class="badge text-white bg-success float-right"
                                >Voir</a
                              >
                            </td>
                          </tr>
                      {% endfor %}
                      <div id="pagination_container">
                        <span class="page-links">
                          <!-- {% if etablissements.has_previous %}
                                        <button type="button" onclick="navigateUrl('{{ request.get_full_path }}' , '{{ etablissements.previous_page_number }}')">Previous</button>
                                    {% endif %} -->
                          <span class="page-current">
                            Page {{ etablissements.number }} sur {{ etablissements.paginator.num_pages }}
                          </span>
                          <!-- {% if etablissements.has_next %}
                                        <button type="button" onclick="navigateUrl('{{ request.get_full_path }}', '{{ etablissements.next_page_number}}')">Next</button>
                                    {% endif %} -->
                        </span>
                      </div>
                  {% if etablissements.has_other_pages %}
                  <div
                    class="btn-group float-right mb-3"
                    role="group"
                    aria-label="Item pagination"
                  >
                    {% if etablissements.has_previous %}
                    
                    <button
                      type="button"
                      class="btn btn-outline-primary"
                      onclick="navigateUrl('{{ request.get_full_path }}' , '{{ etablissements.previous_page_number }}')"
                    >
                      Précédent
                    </button>

                    {% endif %} {% for page_number in etablissements.paginator.page_range %} 
                    {% if etablissements.number == page_number %}

                    <span class="btn btn-outline-primary active">
                      {{page_number}}
                    </span>

                    {% else %}
                    <button
                      onclick="navigateUrl('{{ request.get_full_path }}' , '{{ page_number }}')"
                      class="btn btn-outline-primary"
                    >
                      {{ page_number }}
                    </button>
                    {% endif %} 
                    {% endfor %} 
                    {% if etablissements.has_next %}
                    <button
                      type="button"
                      class="btn btn-outline-primary"
                      onclick="navigateUrl('{{ request.get_full_path }}' , '{{ etablissements.next_page_number }}')"
                    >
                      Suivant
                    </button>

                    {% endif %}
                  </div>
                  {% endif %} 
                  {% else %}

                  <p class="text-center text-white">No etab found.</p>
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock content %}

{% block javascripts %}
<script type="text/javascript">
  function arrangePageQuery(urlPath, pageToNavigate) {
    if (window.location.href.includes("?")) {
      // there's filter queries in url:
      window.location.href = urlPath + "&page=" + pageToNavigate;
    } else {
      // there's no filter queries:
      window.location.href = urlPath + "?page=" + pageToNavigate;
    }
  }

  function navigateUrl(fullPath, pageToNavigate) {
    if (window.location.href.includes("?page=")) {
      // to avoid appending when there is no filter queries, remove page query:
      let baseFullPath = window.location.href.split("?page=")[0];
      window.location.href = baseFullPath + "?page=" + pageToNavigate;
      return;
    }

    if (window.location.href.includes("&page=")) {
      // to avoid appending when there is filter queries, remove page query
      let baseFullPath = window.location.href.split("&page=")[0];
      arrangePageQuery(baseFullPath, pageToNavigate);
    } else {
      arrangePageQuery(fullPath, pageToNavigate);
    }
  }
</script>
{% endblock javascripts %}
