{% extends 'layouts/base-caosp.html' %}

{% block title %}Quote-parts{% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% load static %}

{% block content %}
<style>
    @media print {
    .no-print { display: none!important }
 }
 @media not print {
    .print { display: none!important }
 }
</style>
<main class="content">
   <div class="container-fluid p-0">

       <div class="no-print row mb-2 mb-xl-3">
           <div class="col-auto d-none d-sm-block">
               <h3>
                   <strong>Les Quote-parts</strong>
                   {% if request.user.is_staff %}
                   <span>
                       <a class="" href="{% url 'etablissement:add' %}">Ajouter</a>
                   </span>
                   {% endif %}
                   <form class="d-none d-lg-inline-block" method="GET">
                      <div class="input-group input-group-navbar">
                         <span class="form-control form-check-inline" >
                            {{form.quote_annee}}
                         </span>
                         <button class="btn text-sm" type="submit">
                                 <i class="align-left" data-feather="search"></i>
                        </button>
                      </div>
                   </form>
               </h3>
           </div>       
       
       <div class="card">
            <div class="card-header">
               <button onclick="window.print()" class="no-print btn btn-primary float-right">
                  Imprimer
               </button>
               <h2 class="h2">
                  <strong>Les Quote-parts</strong>
               </h2>
            </div>

               <div class="m-sm-4">
                   <table class="table table-sm">
                       <thead>
                           <tr>
                               <th>Année</th>
                               <th>Etablissement</th>
                               <th>Effectif</th>
                               <th>Attendu</th>
                               <th>Versé</th>
                               <th>Statut</th>
                               <th class="text-right">Actions</th>
                           </tr>
                       </thead>
                       <tbody>
                        {% for quote in quotes%}
                        <tr>
                           <td>{{ quote.annee_scolaire }}</td>
                           <td>{{quote.etablissement}}</td>
                           <td>{{quote.effectif}}</td>
                           <td>{{quote.get_montant}}</td>
                           <td>{{quote.versement}}</td>
                           <td>
                              {% if quote.is_ok == True %}
                              <span class="text-white bg-success px-2 rounded-radius-25">A jour</span>
                              {% else %}
                              <span class="text-white bg-danger px-3 rounded-radius-25"> <i class="mdi mdi-arrow-bottom-right"></i> Oh ! </span>
                              {% endif %}
                           </td>                           
                           <td class="text-right">
                              A compléter
                           </td>
                        </tr>
                        {% endfor%}
                       </tbody>
                        
                   </table>

               </div>
           </div>
       
   </div>
</main>

{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
