<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- bootstrap -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />

    <script
      src="https://code.jquery.com/jquery-3.6.3.js"
      integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
      crossorigin="anonymous"
    ></script>
    <title>CAOSP Ziguinchor</title>

  </head>
  <body>
    <div class="container">
      <div class="row gutters">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="card">
            <div class="card-body p-0">
              <div class="container">
                <div class="card-header">
                  <!-- Row start -->
                  <div class="row gutters">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                      <h4 class="text-center">République du Sénégal</h4>
                      <h6 class="text-center">Un Peuple - Un But - Une foi</h6>
                    </div>
                  </div>
                  <!-- Row end -->

                  <!-- Row start -->
                  <div class="row gutters">
                    <div class="col-lg-8 col-md-8 col-sm-8">
                      <h5 class="">
                        Ministère de l'Education nationale
                      </h5>
                      <h5 class="">
                        Inspection d'Académie de Ziguinchor
                      </h5>
                      <h4 class="">
                        <strong> C.A.O.S.P. de Ziguinchor </strong>
                      </h4>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                      <div class="text-left">
                        Rapport n° _______<br />
                        n° caosp/iaz/____________/caosp<br />
                        {{ ladate }}
                      </div>
                    </div>
                  </div>
                  <!-- Row end -->
                </div>

               
              <hr/>
              <br/>
              <br/>
              <br/>
                <div class="invoice-footer">
                  Ziguinchor le  {{ladate}} .
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
